.center {
	text-align: center;
}

.progress {
	margin-bottom: 10px;
}

.progress:hover {
	cursor: pointer;
}

a.refresh:hover {
	background: none;
	color: #000;
	text-decoration: none;
}

#notice {
	text-align: center;
}

.boom_start {
	margin-bottom: 0;
	height: 10px;
	border-radius: 0;
	display: none;
}